<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#offer">We Offer</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Pilot Cases</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#install">Install Now</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#feedback">Feedback</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="button" href="http://rapp-project.eu/" target="_blank">Project</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">RAPP</div>
                <div class="intro-lead-in">Empowering robotics for social inclusion</div> 
		<p class="large">RAPP is a European research Project, which provides an open source software platform to support the creation and delivery of robotic applications. The emphasis of this project is on applications that enable robots to understand and respond to the intentions and needs of people at risk of exclusion, and especially the elderly. RAPP focuses on two major groups: a) developers of robotic applications and b) everyone who takes care of people at risk of exclusion, such as healthcare professionals, families and neighbors.</p> 
		<br>
		<br>     

		<button type="button" class="page-scroll btn btn-xl" onclick="developerFunction()"  input style="margin-right: 			30px">Developer?</button>

		<script language="javascript" type="text/javascript">
		function developerFunction() {
    			window.open("developer.html",'RAPP','height=850,width=950');
		}
		</script>

		<button type="button" class="page-scroll btn btn-xl" onclick="myFunction()">Healthcare provider?</button>
		<script language="javascript" type="text/javascript">
		function myFunction() {
    			window.open("https://www.youtube.com/embed/MNGTj6lK18s",'RAPP','height=400,width=600');
		}
		</script>

		
<!--<iframe width="520" height="293" src="https://www.youtube.com/embed/MNGTj6lK18s" frameborder="0" allowfullscreen></iframe> -->
            	
            </div>
 
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

