<!-- Services Section -->
    <section id="offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We offer</h2>
                    <h3 class="section-subheading text-muted">Everything related to robotic applications in one Platform! </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="rapps/index.html"><i class="fa fa-circle fa-stack-2x text-primary "></i></a>
                        <a href="rapps/index.html"><i class="fa fa-user fa-stack-1x fa-inverse fa1"></i></a>
                    </span>
                    <h4 class="service-heading">RApps</h4>
                    <p class="text-muted">based on adaptation to individuals and taking into account the special needs of elderly people, while respecting their autonomy and privacy.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="repository/index.html"><i class="fa fa-circle fa-stack-2x text-primary"></i></a>
                        <a href="repository/index.html"><i class="fa fa-database fa-stack-1x fa-inverse fa1"></i></a>
                    </span>
                    <h4 class="service-heading">Repository</h4>
                    <p class="text-muted">from which robots can download Robotic Applications (RApps) and upload useful monitoring information.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="infrastructure/index.html"><i class="fa fa-circle fa-stack-2x text-primary"></i></a>
                        <a href="infrastructure/index.html"><i class="fa fa-industry fa-stack-1x fa-inverse fa1"></i></a>
                    </span>
                    <h4 class="service-heading">Infrastructure </h4>
                    <p class="text-muted">for developers of robotic applications, so they can easily build and include machine learning and personalization techniques to their applications.</p>
                </div>
             </div>

        </div>

    </section>
