<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pilot Cases</h2>
                    <h3 class="section-subheading text-muted">The RAPP project is developing simple, yet realistic Robotic Applications (RApps) and, to ensure that the RAPP platform meets real user needs, it is being tested by healthcare centers and researchers using pilot cases targeting: technology illiterate people, mobility assistance and activity monitoring, people with mild cognitive impairment.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="NAO/index.html"><img class="img-circle img-responsive" src="img/pilots/1.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2016</h4>
                                    <h4 class="subheading">NAO - an intelligent and caring companion for elderly</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The NAO robot is being tested at ORMYLIA in Greece, who provided the use case requirements and described the pilot scenarios regarding the technology illiterate elders and people with mild cognitive impairment.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="ANG/index.html"><img class="img-circle img-responsive" src="img/pilots/2.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2016</h4>
                                    <h4 class="subheading">Hip fracture recovery with the ANG robot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ANG is currently being tested at MATIA’s centre in Spain. Working jointly with INRIA, they specified functionalities and scenarios for the ANG robot, aiming towards elders in need of mobility or rehabilitation assistance.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.turtlebot.com/"><img class="img-circle img-responsive" src="img/pilots/3.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">TurtleBot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TurtleBot is a low-cost, personal robot kit with open-source software. With TurtleBot, you’ll be able to build a robot that can drive around your house, see in 3D, and have enough horsepower to create exciting applications.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://robotyka.ia.pw.edu.pl/robots/elektron/"><img class="img-circle img-responsive" src="img/pilots/4.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Elektron</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vision based gesture-driven human robot interface.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/pilots/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-today</h4>
                                    <h4 class="subheading">Your own robot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You are able to download applications from RAPP's repository to enhance your robot's functionality and answer the elderly needs.  </p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image fa1">
                                <a href="part_of_our_story/index.html"><img class="img-circle img-responsive" src="img/story.PNG" alt=""></a>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>
